<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <param name="robot_description" command="cat '$(find two_wheel_robot)/urdf/two_wheel_robot.xacro'"/> -->
    <!-- <param name="robot_description" textfile="$(find two_wheel_robot)/urdf/two_wheel_robot.xacro"/> -->
    <!-- <param name="robot_description" textfile="$(find two_wheel_robot)/urdf/4_two_wheel_robot.xacro"/> -->
 	<param name="robot_description" textfile="$(find two_wheel_robot)/urdf/4_two_wheel_robot_revA.xacro"/>
 <!-- <param name="robot_description" textfile="$(find two_wheel_robot)/urdf/01-diff_drive.xacro"/> -->

    
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <!-- <arg name="z" default="0.5"/> -->
    <arg name="z" default="0.5"/>
    
    <node name="two_wheel_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model m2wr -x $(arg x) -y $(arg y) -z $(arg z)" />
          
</launch>